pip install SpeechRecognition
pip install pyttsx3
pip install pyaudio
# appel de wikipedia : 
pip install wikipedia
# automatisation tâches(envoi de messages WhatsApp,lecture de vidéos YouTube, recherche Google,...): 
pip install pywhatkit